<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application>
        <receiver
            android:name=".debug.DebugSeedReceiver"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.driezy.medlog.DEBUG_SEED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
